/* Base */
html,
body {
  margin: 0;
  padding: 0;
}

/* Import de montserrat placé dans public*/
@font-face {
  font-family: 'Montserrat';
  src: url('../public/police/Montserrat-Regular.ttf') format('truetype');
}

/* ajout de la police a toute l'application*/
* {
  font-family: 'Montserrat', sans-serif;
}

/* Contenu */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
